.card-container {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    margin-bottom: 24px;
}

.profile-pic-container {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}
  
.profile-pic-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-data-container {
    display: flex;
    flex-direction: column;
}

.username-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    margin-left: 12px;
}

.content-data-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.content-data-container h5 {
    margin: 12px;
}

.content-data-container video {
    width: 466px;
    height: 262px;
}

.content-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    margin: 12px;
}

.video-container {
    margin-left: 12px;
    position: relative;
}