.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 89vh;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/13649371/pexels-photo-13649371.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
}
h1.h{
    text-align: center;
    color: white;
    font-size: 3rem;
    text-shadow: 1px 1px 7px rgba(0, 0, 0, 1);
}
p.p{
    text-shadow: 1px 1px 7px rgba(0, 0, 0, 1);
}
p.sub-title{
    color: white;
    text-align: center;
    font-size: 1rem;
}
#contact-container{
    /* width: 1200px; */
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
    display: inline-block;
    backdrop-filter: blur(20px);
    border: 1px solid rgb(255,255,255, .2);
    -webkit-box-shadow: 2px -1px 42px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -1px 42px 10px rgba(0,0,0,0.75);
    box-shadow: 2px -1px 42px 10px rgba(0,0,0,0.75);
}
.contact-info{
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 15px;
    flex: 0 1 40%;
    padding: 40px;
    color: white;
    display: block;
    flex-direction: column;
}
    h4{
        font-size: 2rem;
        font-weight: 500;
        margin-top: 0;
        margin: 0;
        text-align: center;
    }
    p{
      font-size: 1rem;
      color: rgb(255,255,255, .7);
      font-weight: 300;
      margin-bottom: 2rem;
    }
    .icon-text{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 2rem;
    }
        .icon{
            font-size: 1.8rem;
            margin-right: 2rem;
            flex: 0 0 40px;
        }
        span{
            font-size: 1.3rem;
            font-weight: 300;
        }
        
    .social-media{
        display: flex;
        width: 50%;
        justify-content: space-between;
        margin-left: 120px;
    }
        .icon-circle{
            flex: 0 1 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25px;
            border-radius: 50%;
        }
/* form{
    padding: 40px;
}
    .col{
        display: flex;
        width: 100%;
        flex: 0 0 100%;
    }
    .form-group{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex: 0 0 100%;
        padding-right: 40px;
    }
        label{
           font-size: 1.2rem;
           color: white;
           margin-bottom: 1rem;
        }

        input[type="text"]{
            background: transparent;
            border: none;
            cursor: pointer;
            padding: 10px;
            font-size: 1.5rem;
            font-weight: 300;
            color: white;
            border-bottom:rgba(255,255,255, .4);
        }
            &:focus{
                border: none;
                outline: none;
                border-bottom:2px solid #b872f2;
            }
        

        &:nth-child(2){
            padding-right: 0;
        } */

    