.home-img2{
    width: 100%;
    height: 60vh;
    position: relative;
}

.hero-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.home-img2::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hero .content{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
}
.heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-img p{
    font-size: 1.4rem;
    text-align: center;
}

.hero-img h1{
    font-size: 2.4rem;
    text-align: center;
    color: black;
}

@media screen and (max-width:640px){
    .hero-img h1 {
        font-size: 2rem;
    }
}
