.home-img2{
    width: 100%;
    height: 60vh;
    position: relative;
}

.hero-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.home-img2::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hero .content{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
}
.heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-img p{
    font-size: 1.4rem;
    text-align: center;
}

.hero-img h1{
    font-size: 2.4rem;
    text-align: center;
    color: black;
}

@media screen and (max-width:640px){
    .hero-img h1 {
        font-size: 2rem;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  box-sizing: 0;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

body{
  background: #F4F6F8;
}

ul{
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: #7E57C2;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover{
  background: #fff;
  color: #7E57C2;
  border: 1px solid black ;
  transition: 0.3s;
}

.btn-light{
  background: transparent;
  color: white;
}

.btn-light:hover{
  background-color: #ffffff;
}