* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.page {
    height: 89vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover {
    background-color: whitesmoke;
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 30px 14px rgba(140,83,189,1);
    -moz-box-shadow: 0px 0px 30px 14px rgba(140,83,189,1);
    box-shadow: 0px 0px 30px 14px rgba(140,83,189,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}