.post-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.post-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}