.post-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
    color: black;
}

.container-post{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.post-card{
    padding: 1.2rem 1rem;
    border: 1px solid #000;
    text-align: center;
}

.post-card img{
    width: 100%;
    height: 50vh;
}

.post-title{
    padding: 1rem 0;
}

.post-details p{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: center;
}

@media screen and (max-width: 740px){
    .container-post{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}