

.profile-form-container label {
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
   
}

.profile-text-inputs {
    display: block;
    width: 400px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: black;
    background-color: aliceblue;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

.profile-form-container {
  margin-left: -150px;
 
}
.profile-form-container button{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border-color: transparent;
    color: #3B82F6;
}
