.edit-profile-button {
    background-color: rgb(65, 20, 169);
    margin-bottom: 100px;
}

.profile {
    margin-left: 50%;
   display: flex;
   flex-direction: column;
   
}

.page-title {
    margin-left: -400px;
    /* color: black; */
}

.profile-text {
    margin-bottom: 15px;
    background-color: white;
    border: transparent;
    width: 400px;
}
