.sidebar {
    display: flex;
    flex-direction: column;
    background: #161C24;
    width: 200px;
    height: 100vh;
    padding: 20px;
  }
  
  .sidebar h1 {
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .sidebar-right {
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-right button {
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    background-color: transparent;
    color: white;
   
  }

  .sidebar-right button:last-child {
    margin-top: 300%;
    color: #ff0000;
    background-color: transparent;
    height: 30px;
    width:  200px
   }
  