.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #161C24;
  color: white;
  width: 200px;
  position: fixed;
  min-height: 100vh;
  }
  
  .sidebar h1 {
    font-size: 38px;
  font-weight: bold;
  color: #FAFAFA;
  margin-bottom: 20px;
  left: 17px;
  width: 132px;
  height: 46px;
  margin-left: 17px;
  }
  
  .sidebar-right {
    display: flex;
  flex-direction: column;
  margin-left: -100px;
  }
  
  .sidebar-right button {
    display: block;
  width: 73px;
  padding: 10px 20px;
  text-align: left;
  border: none;
  background-color: #1C1C1C;
  color: white;
  font-size: 20px;
  font-weight: regular;
  margin-left: 10px;
   
  }

  .sidebar-right button:last-child {
    background-color: #1C1C1C;
    color: #FF0302;
  
   }
  

   .navbar-right button:hover {
    background-color: #73469b; 
    width: 150px;
}


.sidebar-all{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}