.content-tabs {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.tab-container {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    margin-bottom: 12px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.tab {
    font-weight: bold;
}

.tab-active {
    color: #7E57C2;
    text-decoration: underline;
    font-weight: bold;
}

.content-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width: 650px) {

    .tab, .tab-active {
        margin-left: 12px;
        margin-right: 12px;
    }
    
    .content-tabs {
        width: 100%;
    }

    .content-div {
        justify-content: start;
    }
}